/* GENERAL */

h1 {
  text-align:center;
  padding-bottom:3rem;
}
p {
  text-align:justify;
}

/* BANNER */
#restaurant-banner {
  float:right;
  width:68%;
}
#restaurant-banner img{
  width:100%;
  padding:0 1rem 2.5rem 1.2rem;
}

/* LOCATION */

.location {
  position:relative;
  text-align:center;
  width:30%;
  float:left;
}
.location-detail{
  margin-bottom: 3.8rem;

}
.location-detail img{
  width: 45%;
  border-radius:100%;
  transition: all .35s;
}
.location-detail img:hover {
  transform:scale(1.2);
  opacity:0.8;
  cursor:pointer;
}
.location-detail div{
  width:45%;
  margin:auto;
}

/* JOB POSTING */
#job-container {
  display:none;
}
.job-content {
  position:relative;
  width:68%;
  float:right;
  padding-bottom:4rem;
}
.job-content a {
  font-weight:bold;
}
.job-content a:hover {
  text-decoration:underline;
}
.job-content ul {
  padding-left:7rem;
}
.job-content ul>li {
  list-style:disc;
}
.list2-container {
  padding-bottom:3rem;
}
.title-accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .title-accordion:hover {
  background-color: #ccc;
}
.title-accordion:after {
  content: "+";
  font-size:2rem;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 3em;
  height: 3em;
  line-height: 3;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}
.active:after {
  transform: rotate(315deg); 
}
.job-panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.btn-container {
  position:relative;
  text-align:center;
}
.btn-container a:hover {
  text-decoration:none;
}
.sub-btn{
  margin-right:2rem;
  border:0;
  width:20rem;
  height:4rem;
  background-color:#ae3721;
  color:#fff;
  font-size:2rem;
  text-transform:uppercase;
  line-height:4rem;
  text-align:center;
  letter-spacing:0.1rem;
  transition:0.5s;
  border-bottom:none;
  cursor:pointer;
}
.sub-btn:hover, .sub-btn:focus{
  width:25rem;
  background-color:#404040;
  letter-spacing:0.2rem;
  font-weight:normal;
}

/* FORM */
form div {
  margin-bottom: 2.4rem;
}
#form-container {
  display:none;
  width:68%;
  float:right;
  position:relative;
  padding-left:2rem;  
}
#form-container h3 {
  padding-bottom:3rem;
}
#job-form {
  margin-left:5rem;
}
label{
  font-weight:bold;
}
input {
  margin-top: 0.8rem;
  width: 90%;
  color: #404040;
  height: 3.2rem;
  font-size: 1.6rem;
  border: none;
  border-bottom: 2px solid #9ab997;
  padding-left: 0.8rem;
  transition: 0.5s;
}
#resume {
  border-bottom:0;
}
input:focus {
  outline:0;
  background-color:#ffdec080;
  width:100%;
}
#resume:focus {
  background-color:#ffdec000;
}
#confirmation {
  display:none;
  float:right;
  width:68%;
}
/* FOOTER */

footer {
  clear:both;
}