body, html {
  margin: 0 auto;
}

/* Style */
.description{
  margin: 0 auto;
  padding: 2rem;  
  text-align: center;
  font-size: 2rem;
}
#game {
  width: 750px;
  margin: 2rem auto;
}
.field-bg {
  height: 500px;
  width: 400px;
}
div[class^="btn"] {
  width: 20rem;
  position: absolute;
  left: 110px;
  background-color: #a54f50;
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1rem 0;
  line-height: 2rem;
  color: #fff;
  border-radius: 0.75rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-align: center;
  cursor: pointer;
}


.btn-howto {
  top: 360px;
}
.btn-play {
  top: 300px;
}

/* Status Section */
#status {
  width: 300px;
  height: 24rem;
  margin: 10rem auto;
  font-size: 2rem;
  /* line-height: 8rem; */
}
#status>div {
  height: 8rem;
  width: 100%;
}
#timer-outline {
  width: 242px;
  height: 3rem;
  border: 1px solid #404040;
}
#timer {
  width: 240px;
  height: 2.8rem;
  background-color: #9ab997;
  padding-left: 0.5rem;
}
#life>img {
  width: 3rem;
  height: 3rem;
}

/* Rules and Gameover*/
#rules, #gameover {
  height: 0;
  width: 400px;
  background-color: #333;
  color: white;
  opacity: 0.8;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  overflow: hidden;
}
#rules h2 {
 color: #9ab997;
}
#rules li {
  margin: 1rem;
}
.gameover-msg {
  margin-top: 200px;
  font-size: 3rem;
}
.btn-replay {
  top: 300px;
}

/* Gaming */
#area {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  cursor: none;
  overflow: hidden;
}
#catcher {
  position: absolute;
  top: 470px;
  left: 160px;
}
.fallingItem {
  position: absolute;
  width: auto;
  height: auto;
}

.img_load {
  display: none;
}
