
/*************************************************
TABLE OF CONTENTS
**************************************************
 1. GENERAL ELEMENTS SELECTOR
 2. MAIN CONTENTS SELECTOR
 3. GENERAL CLASS SELECTOR
Photos are downloaded from https://www.pexels.com/
*************************************************/
/* 1. GENERAL ELEMENTS */

html{
  box-sizing: border-box;
  font-size: 10px; /* this is to establish REM units. 1.6rem = 16px. 5rem = 50px*/
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  max-width: 1024px;
  position: relative;
  margin: 0 auto;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #404040; /*gray*/
}
h1, h2, h3, h4, h5, h6{
  margin: 0.8rem 1.6rem 0.8rem 1.6rem;
  font-weight: 900;
  text-transform: capitalize;
}
h1{
  font-size: 5rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.4rem;
}

/* 2. MAIN CONTENTS SELECTOR */
/* In order not to affect on upcomming style for header and footer. */
main{
  position: relative;
  padding: 3.2rem 0 3.2rem 0;
}
main p{
  margin: 0rem 1.6rem 0.8rem 1.6rem;
  line-height: 2rem;
}
main a{
  text-decoration: none;
  color: #2b363a;
}
main a:hover, main a:focus{
  font-weight: 700;
}
main ul>li{
  list-style: none;
  line-height: 2rem;
}
main ol>li{
  line-height: 2rem;
}


/* 3. GENERAL CLASS SELECTOR */
.hidden{
  left: -10000px;
}
.flex-container{
  display: flex;
}
.wrapper{
  position: relative;
  top: 16rem;
  width: 100%;
}
.centre{
  margin: 0 auto;
  text-align: center;
}

.link-button{
  display: block;
  width: 20rem;
  background-color: #a54f50;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1rem 0;
  line-height: 2rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.75rem;
  text-transform: capitalize;
}


/* INCLUDE CITATIONS FOR IMAGES */
cite {
  position: absolute;
  opacity: 0;
  z-index: -10;
}
