@import url('https://fonts.googleapis.com/css?family=Kalam|Lato');
/*************************************************
TABLE OF CONTENTS
**************************************************
 1. GENERAL ELEMENTS SELECTOR
 2. MAIN CONTENTS SELECTOR
 3. GENERAL CLASS SELECTOR

* Please use general.html as a template
* LAST UPDATE DEC 12, 11:45pm
*************************************************/
/* 1. GENERAL ELEMENTS */
html {
  box-sizing: border-box;
  font-size: 10px; /* this is to establish REM units. 1.6rem = 16px. 5rem = 50px*/
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  position: relative;
  margin: 0 auto;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  color: #404040; /*gray*/
}
h1, h2, h3, h4, h5, h6{
  margin: 0.8rem 1.6rem 0.8rem 1.6rem;
  font-weight: 900;
  text-transform: capitalize;
}
h1 {
  font-size: 5rem;
  color: #9ab997;
}
h2 {
  font-size: 3.6rem;
}
h3{
  font-size: 2.4rem;
}

/* 2. MAIN CONTENTS SELECTOR */
/* In order not to affect on upcomming style for header and footer. */
main {
  position: relative;
  padding: 3.2rem 0 3.2rem 0;
}
main p{
  margin: 0rem 1.6rem 0.8rem 1.6rem;
  line-height: 2rem;
}
main a{
  text-decoration: none;
  color: #404040;
}
main a:hover, main a:focus{
  font-weight: 600;
}
main ul>li{
  list-style: none;
  margin-left: -2.2rem;
  /* remove margin-left to make indent */
  line-height: 2rem;
}
main ol>li{
  margin-left: -2.2rem;
  /* remove margin-left to make indent */
  line-height: 2rem;
}

/* 3. GENERAL CLASS SELECTOR */
.hidden {
  position: absolute;
  left: -10000px; /* Changed DEC 12, from -100% to -10000px because hidden element was shown when minimize the browser*/
}
.flex-container{
  display: flex;
}
.wrapper {
  position: relative;
  top: 16rem;
  width: 100%;
}
.centre{
  margin: 0 auto;
  text-align: center; /* ADDED DEC 12, Remove if it affects on your style*/
}
/*Remove if you don't need a button on your page.*/
.link-button{
  display: block;
  width: 20rem;
  height: 4rem;
  background-color: #ae3721;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 4rem;
  text-align: center;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  cursor: pointer;
}
.link-button:hover, .link-button:focus{
  width: 25rem;
  background-color: #ae372185;
  letter-spacing: 0.2rem;
  font-weight: normal;
}

/*=== Remove those once you have header and footer ===*/
header {
position: fixed;
top: 0px;
z-index: 20;/*This keeps the Header and Navigavtion visible above the rest of the page*/
width: 100%;
height: 16rem;
background-color: #ae372185;
color: #ffdec0;
}

footer {
padding: 2.4rem 0.8rem;
background-color: #ae372185;
color: #ffdec0;
}

/*Place holder for header and footer*/
.placeholder{
  width: 100%;
  height: 16rem;
  font-size: 4rem;
  text-align: center;
}

/*=== Remove those once you don't need anymore ===*/
  /* add class="border" and you can see the border of the elements */
  .border {
  border: 1px solid red;
  }
  /* set width for button container */
  .div-container{
    width: 500px;
    border: tomato 1px dotted;
  }
  /* Color boxes*/
  .box{
    width: 100px;
    height: 100px;
  }
  .gray{background-color: #404040; color: white;}
  .red{background-color: #ae3721; color: white}
  .green{background-color:  #9ab997;}
  .peach{background-color: #ffdec0;}
