@import url('https://fonts.googleapis.com/css?family=Kalam:700%7CLato:400,400i,700,900');
/*************************************************
TABLE OF CONTENTS - Header and Footer Styling (by Paul Ooi)
**************************************************
1) GENERAL STYLING (AS LAID OUT TOP TO BOTTOM)
2) HEADER
3) NAVIGATION
4) COPYRIGHT & FOOTER
5) MEDIA QUERIES
*************************************************/

/*1) GENERAL STYLING*/
.hidden {
position: absolute;
}

.wrapper {
/*This should be wrapped around the items below the header to ensure it starts below the fixed navbar*/
position: relative;
/* top: 40rem; */
}

header {
position: fixed;
top: 0px;
z-index: 20;/*This keeps the Header and Navigavtion visible above the rest of the page*/
width: 100%;
max-width: 1024px;
background-color: rgba(165, 79, 80, 0.95);
color: rgb(255, 222, 192);
display: flex;
transition: all 500ms linear;
}


/*2) HEADER*/
header.large {
height: 16rem;
justify-content: center;
align-items: center;
}

header.small {
height: 6rem;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

header.small #company-branding {
flex-direction: row;
justify-content: flex-start;
flex: 0.75 1 30%;
margin: unset;
order: -1;
}

header.small #company-branding h2 {
text-align: left;
margin:0.4rem 5% 0.4rem 2%;
font-size: 2.4rem;
}

header.small #logo {
height: 5rem;
padding-left: 1.5rem;
}

header.small #main-nav {
flex: 0 1 60%;
width: 60%;
position: relative;
margin-left: 5%;
}

header.small #main-nav ul {
line-height: 2rem;
height: 5rem;
align-content: space-around;
flex-flow: row wrap;
}

header.small #main-nav li {
flex: 0 1 33%;
font-size: 1.6rem;
}

header.small #main-nav li:nth-child(4){
margin-left: unset;
}

header.small #main-nav li:nth-child(3){
margin-right: unset;
}

header.small #main-nav a:hover {
border-bottom: 1.5px solid rgb(255, 222, 192);
padding-bottom: 2px;
}

#logo {
height: 9rem;
z-index: 10;
transition: all 200ms linear;
}

#company-branding {
display: flex;
flex-direction: column;
margin: auto;
position: relative;
z-index: 10;
align-items: center;
transition: all 300ms linear;
}

#company-branding h2 {
margin: 0.4rem auto;
font-size: 2.4rem;
font-family: 'Kalam', Helvetica, Arial, sans-serif;
text-align: center;
text-transform: capitalize;
font-weight:700;
color: rgb(255, 222, 192);
transition: all 300ms linear;
}

/*3) NAVIGATION*/
nav ul, #copyright-privacy ul {
padding: 0;
margin: 0;
list-style: none;
}

a, nav a, #copyright-privacy a {
text-decoration: none;
color: rgb(255, 222, 192);
}

nav li {
display: inline-block;
padding: 0 0.8rem;
text-transform: capitalize;
font-family: 'Lato', Helvetica, Arial, sans-serif;
font-size: 1.8rem;
font-weight: normal;
transition: all 200ms linear;
margin: 0;
}

#main-nav li:nth-child(3){
margin-right: 15%;
}

#main-nav li:nth-child(4){
margin-left: 15%;
}

#main-nav {
position: absolute;
width: 90%;
max-width: 1024px;
}

#main-nav a:hover {
border-bottom: 2px solid rgb(255, 222, 192);
padding-bottom: 3px;
}

#main-nav ul{
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
}

/*4) COPYRIGHT & FOOTER*/
footer nav {
order: -1;
flex:0.25 1 40%;
}

footer nav ul{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
}

footer nav li{
font-size: 1.2rem;
font-weight:bold;
padding: 0.4rem 0;
flex: 1 1 33%;
}

#copyright-privacy li {
display: inline-block;
margin: 0 1.6rem 1.6rem 0;
}

#copyright-privacy {
font-size: 1rem;
margin-top: 1.6rem;
flex: 0 0 100%;
}

footer {
  position: relative;
  padding: 2.4rem 2rem 2.4rem 3rem;
  background-color: rgba(165, 79, 80, 0.95);
  color: rgb(255, 222, 192);
  display: flex;
  flex-flow: row wrap;
  text-align: left;
  justify-content: space-between;
  overflow: hidden;
}

.background {
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: -10;
  align-self: center;
  left: 0;
  object-fit: cover;
}

#social-media {
display: flex;
justify-content: flex-end;
flex: 0 1 20%;
margin-bottom: 0.75rem;
}

.social {
height: 3rem;
width: 3rem;
display: inline-block;
margin: 1rem 1.2rem;
background-color: transparent;
}

.social img {
width: 100%;
height: auto;
border-radius:3px;
}

/* 5) MEDIA QUERIES */
@media all and (max-width:960px){


    #copyright-privacy {
    text-align: center;
    }

    #copyright-privacy li {
    display: inline-block;
    margin: 0 1.6rem 3.2rem;
    }
}

@media all and (max-width:955px) {
    footer nav li {
    flex: 1 1 47%;
    }

}


@media all and (max-width:915px) {
    header.large {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }

    #main-nav ul{
    flex-flow: column wrap;
    height: 8rem;
    line-height: 2.4em;
    }

    #main-nav li:nth-child(3){
    margin-right: unset;
    }

    #main-nav li:nth-child(4){
    margin-left: unset;
    }

    #main-nav {
    flex: 0 1 50%;
    order: 2;
    position: unset;
    }

    #company-branding {
    order:0;
    margin: unset;
    }

}


@media all and (max-width:760px){
    header {
    justify-content: flex-start;
    }

    #logo {
    margin-right: 1.5em;
    }

    #company-branding {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-left:5%;
    position: relative;
    z-index: 10;
    flex: 1 1 45%;
    align-items: center;
    }

    #company-branding h2 {
    margin: unset;
    }

    #main-nav {
    order: 2;
    flex: 0 1 33%;
    }

    #main-nav ul {
    line-height: 2.25rem;
    }

}

@media all and (max-width:700px) {
    footer nav {
    order:0;
    flex:1 1 100%;
    }

    footer nav li {
    flex: 1 1 33%;
    font-size: 0.85em;
    text-align: center;
    }

    #social-media {
    justify-content: center;
    flex: 1 1 100%;
    margin-bottom: 2.4rem;
    }

    .background {
    max-width: 125%;
    height: 100%;
    }
}

@media all and (max-width:670px) {
/* Need to put the Hidden Menu and hamburger */
}

@media all and (max-width:400px) {
    footer {
    padding: 2.4rem 0;
    }
}
