
ul {
	/* padding-left:0; */
}
ul li {
	list-style:none;
	margin-bottom:3em;
}
h3 {
	color:#ae3721;
}
.flex-container {
	flex-flow:row wrap;
}
section img {
	top:-1em;
	position:relative;
	float:right;
	max-width:30%;
	height:auto;
}
section ul {
	clear:both;
}
.section-title {
	margin:0;
	text-align:center;
	line-height:1.5em;
	border-left:2px solid #ae3721;
	border-top:2px solid #ae3721;
}
.column-2 { 
	flex:1 50%;
}
.dish-name {
	font-weight:bold;
	font-size:1.2em;
	position:relative;
	border-bottom:1.5px dotted black;
}
.dish-price {
	font-weight:normal;
	font-size:0.9em;
	float:right;
}

.dish-description {
	width:70%;
	font-size:0.9em;
}
.link {
	text-align:center;
}
#link-to-special {
	font-size:1.3em;
	line-height:3em;
	color:#ae3721;
}
.jump-to-top {
	display:block;
	margin:0;
	transition:all 0.2s;
}
.jump-to-top:hover {
	transform:scale(1.1);
}

@media all and (max-width:768px) {
	.column-2 {
		flex:1 100%;
	}

}





















