/*temporary page border*/
html {
	box-sizing:border-box;
}
*, *::before, *::after {
	box-sizing:inherit;
}
.page-wrapper {
	max-width:1024px;
	margin:0 auto;
	font-family: 'Lato', sans-serif;
}
.hidden {
	position:absolute;
	left:-10000px;
}

ul li {
	list-style:none;
	margin-bottom:3em;
}
h3 {
	font-size:1.5em;
}
.flex-container {
	flex-flow:row wrap;
}
.section-title {
	text-align:center;
	font-size:2.25em;
	color:#9ab997;
	padding:0.2em;
	background-color:#404040;
	border-radius:0.4em;
	text-align:center;
	flex:100%;
}
.column-2 { 
	flex:0.5 0 0;
}
.dish-name {
	font-weight:bold;
	font-size:1.2em;
	position:relative;
	border-bottom:1.5px dotted black;
}
.dish-price {
	font-weight:normal;
	font-size:0.9em;
	float:right;
}

.dish-description {
	width:70%;
	clear:both;
	font-size:0.9em;
}


















