h3 {
	color:#ae3721;
}
.flex-container {
	flex-flow:row wrap;
}
main section img {
	top:-1em;
	position:relative;
	float:right;
	max-width:30%;
	height:auto;
	padding-right:5%;
}
main section ul {
	clear:both;
	padding:0 5%;
}
main section li {
	padding:1em 0;
	transition:all 0.2s ease-in;
}
main section li:hover {
	background-color:rgba(64, 64, 64, 0.05)
}
main section h3 {
	text-align:center;
}
.section-title {
	margin:1em 1%;
	text-align:center;
	line-height:1.5em;
	border-left:2px solid #ae3721;
	border-top:2px solid #ae3721;
}
.section-title:hover {
	cursor:pointer; /*make title look like a link*/
}
.column-2 { 
	flex:1 50%;
}
.dish-name {
	font-weight:bold;
	font-size:1.2em;
	position:relative;
	border-bottom:1.5px dotted black;
}
.dish-price {
	font-weight:normal;
	font-size:0.9em;
	float:right;
}
.dish-description {
	width:70%;
	font-size:0.9em;
}
.link {
	text-align:center;
}
#link-to-special {
	font-size:1.3em;
	line-height:3em;
	color:#ae3721;
}
.jump-to-top {
	display:block;
	margin:0;
	transition:all 0.2s;
}
.jump-to-top:hover {
	transform:scale(1.1);
}
.content {
	position:absolute;
	top:-10000px;
	transition: all 0.2s;
}
#first-section {
	position:relative;
	top:0;
}
@media all and (max-width:768px) {
	.column-2 {
		flex:1 100%;
	}

}





















