h1 {
	/* text-align:center; */
}
main {
	padding-top:0;
}

.link-list {
	padding:0;
	margin:2rem 0;
}
.link-list ul {
	padding-top:2em;
	position:relative;
}
.link-list li {
	margin:0;
	text-align:center;
	display:inline-block;
	position:relative;
	padding:2em 0.5em 0 0.5em;
	vertical-align:top;
}
.link-list li::before, .link-list li::after {
	content:'';
	position:absolute; 
	top:0; 
	right:50%;
	border-top:1.5px solid #404040;
	width:52%; 
	height:2em;
}
.link-list li::after {
	right:auto; 
	left:50%;
	border-left:1.5px solid #404040;
}
/*remove left-right connectors from elements without siblings*/
.link-list li:only-child::before, .link-list li:only-child::after {
	display:none;
}
/*remove space from the top of single children*/
.link-list:only-child {
	padding-top:0;
}
/*remove left connector from first child and right connector from last child*/
.link-list li:first-child::before, .link-list li:last-child::after{
	border-top:0 none;
}
/*add back verticle connector to last child*/
.link-list:last-child::before {
	border-right:1px solid #404040;
	border-radius:0 5px 0 0;
	-webkit-border-radius:0 5px 0 0;
	-moz-border-radius:0 5px 0 0;
}
.link-list:first-child::after {
	border-radius:5px 0 0 0;
	-webkit-border-radius:5px 0 0 0;
	-moz-border-radius:5px 0 0 0;
}
/*add downward connectors from parents*/
.link-list ul ul::before {
	content:'';
	position:absolute;
	top:0;
	left:50%;
	border-left:2px solid #404040;
	width:0;
	height:2em;
}

.link-list li li {
	display:none;
	position:relative;
}
.link-list a {
	border:1.5px solid #404040;
	padding:5px 10px;
	display:inline-block;
	border-radius:5px;
	transition:all 0.2s;
}
.link-list a:hover, .link-list a:hover+ul li a {
	background-color:#404040;
	color:white;
	font-weight:normal;
}













