
ul li {
	margin-bottom:3em;
}
section ul {
	clear:both;
	padding:0 5%;
}
section ul ul {
	padding:0;
}
section li {
	padding:1em 0;
	transition:all 0.2s ease-in;
}
section li:hover {
	background-color:rgba(64, 64, 64, 0.05);
}
section li li:hover {
	background-color:transparent;
}
h3 {
	font-size:1.5em;
}
section h4 {
	text-transform:capitalize;
}
.sub-nav ul {
	text-align:center;
}
.sub-nav li {
	margin:1em 3%;
	transition:all 0.5s;
}
.sub-nav a {
	font-size:1.5em;
	border:2px solid #404040;
	max-width:5.5em;
	height:5.5em;
	border-radius:50%;
	padding:1.8em 0;
	display:block;
}
.sub-nav li:hover {
	transform:scale(1.1);
}
.section-title {
	text-align:center;
	font-size:2.25em;
	line-height:1.5em;
	margin-top:1em;
	border-left:2px solid #ae3721;
	border-top:2px solid #ae3721;
	text-align:center;
}
.column-2 { 
	flex:1 50%;
}
.event-name {
	text-align:center;
	font-size:1.5em;
	margin:0 0 0.5em 0;
	color:#ae3721;
}
.event-description {
	text-align:center;
	margin:0 20%;
}
.dish-name {
	font-weight:bold;
	font-size:1.2em;
	position:relative;
	border-bottom:1.5px dotted black;
}
.dish-price {
	font-weight:normal;
	font-size:0.9em;
	float:right;
}

.dish-description {
	width:70%;
	clear:both;
	font-size:0.9em;
}
.jump-to-top {
	text-align:center;
	display:block;
	margin:0;
	transition:all 0.2s;
}
.jump-to-top:hover {
	transform:scale(1.1);
}
.pointer {
	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 10px solid #ae3721;
	border-bottom: 10px solid transparent;
	position:absolute;
	display:none;
	animation:blink 1.5s infinite;
}
@keyframes blink {
	0% {
		opacity: 0;
	}
	100% { 
		opacity: 1; 
	}
}


@media all and (max-width:768px) {
	.sub-nav a {
		font-size:1em;
		padding:1.5em 0;
	}
	.event-description {
		margin:0 10%;
	}
}
@media all and (max-width:470px) {
	.sub-nav li {
	margin:0;
	}
	.sub-nav a {
		font-size:0.8em;
		padding:1.3em 0;
	}
}












