@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Lato');

html {
box-sizing: content-box;
}

*, *::before, *::after {
box-sizing: inherit;
}

.border {
border: 1px solid red;
}

body {
font-family: 'Lato', sans-serif;
font-size: 16px;
}

nav li {
text-transform: uppercase;
font-family: 'Archivo Narrow', sans-serif;
font-size: 1.25rem;
font-weight: bold;
}

nav a {
text-decoration: none;
list-style: none;
}

#logo {
height: 100px;
}
